## SQL ASSIGNMENT - 2

#### 1. For an online purchasing database, create entity relationship diagrams. Create a database object from your entity diagram.

How to Draw an Entity Relationship Diagram

    1. Determine the Entities in Your ERD. Start by identifying the “what”s in your system or architecture. ...
    2. Add Attributes to Each Entity. ...
    3. Define the Relationships Between Entities. ...
    4. Add Cardinality to Every Relationship. ...
    5. Finish and Save Your ERD.

#### 2. Create a SQL store process to register the use of the database, complete it with proper validation and transaction rollback and commit.

#### 3. List the SQL aggregate function and demonstrate how to utilize it.

SQL Aggregate Functions

    AVG – calculates the average of a set of values.
    COUNT – counts rows in a specified table or view.
    MIN – gets the minimum value in a set of values.
    MAX – gets the maximum value in a set of values.
    SUM – calculates the sum of values.

#### 4. In SQL, create a pivot query.

SELECT Name, 2010,2011,2012 FROM   
(SELECT Name, [Year] , Sales FROM Employee )Tab1  
PIVOT  
(  
SUM(Sales) FOR [Year] IN (2010,2011,2012)) AS Tab2  
ORDER BY Tab2.Name

#### 5. With an example, describe how to join in SQL.

SQL JOIN. A JOIN clause is used to combine rows from two or more tables, based on a related column between them. Notice that the "CustomerID" column in the "Orders" table refers to the "CustomerID" in the "Customers" table. The relationship between the two tables above is the "CustomerID" column.

#### 6. How to locate the 4th highest value in a column in a row. Create your table.

To find 4th Highest salary query will be : Select Salary from table_name order by Salary DESC limit 3,1; Here we are skipping 3 rows from Top and returning only 1 row after skipping