## SQL ASSIGNMENT - 09

###### 1. Write an SQL query to show the top n (say 10) records of a table.

In [ ]:
SELECT * FROM Worker ORDER BY Salary DESC LIMIT 10;
ELECT TOP 10 * FROM Worker ORDER BY Salary DESC;
SELECT * FROM (SELECT * FROM Worker ORDER BY Salary DESC)
WHERE ROWNUM <= 10;

###### 2. Write an SQL query to determine the nth (say n=5) highest salary from a table.

In [ ]:
SELECT Salary FROM Worker ORDER BY Salary DESC LIMIT n-1,1;
SELECT TOP 1 Salary
FROM (
 SELECT DISTINCT TOP n Salary
 FROM Worker 
 ORDER BY Salary DESC
 )
ORDER BY Salary ASC;