## SQL ASSIGNMENT - 07

###### 1. Write an SQL query to show only odd rows from a table.

SELECT * FROM Worker WHERE MOD (WORKER_ID, 2) <> 0;

###### 2. Write an SQL query to clone a new table from another table.

SELECT * INTO WorkerClone FROM Worker;
SELECT * INTO WorkerClone FROM Worker WHERE 1 = 0;
CREATE TABLE WorkerClone LIKE Worker;