## SQL ASSIGNMENT - 09

In [ ]:
###### 1. Write an SQL query to show the top n (say 10) records of a table.

In [ ]:
SELECT * FROM Worker ORDER BY Salary DESC LIMIT 10;

In [ ]:
###### 1. Write an SQL query to determine the nth (say n=5) highest salary from a table.