## SQL ASSIGNMENT - 04

###### 1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’with ‘A’.

Select REPLACE(FIRST_NAME,'a','A') from Worker;

###### 2. Write an SQL query to print all Worker details from the Worker table order byFIRST_NAME Ascending and DEPARTMENT Descending.

Select * from Worker order by FIRST_NAME asc,DEPARTMENT desc;

###### 3. Write an SQL query to fetch the names of workers who earn the highest salary.

SELECT FIRST_NAME, SALARY from Worker WHERE SALARY=(SELECT max(SALARY) from Worker);