## SQL ASSIGNMENT - 02

###### 1. Write an SQL query to print the first three characters of  FIRST_NAME from Workertable.

Select First_Name from Worker order by First_Name limit 3;

###### 2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

Select Instr(First_Name, Binary 'a') from Worker where First_Name = 'Amitabh';

###### 3. Write an SQL query to print the name of employees having the highest salary in each department.

SELECT * FROM Worker WHERE WORKER_ID <=5
UNION
SELECT * FROM (SELECT * FROM Worker W order by W.WORKER_ID DESC) AS W1 WHERE W1.WORKER_ID <=5;